body {
	display: flex;
}

.todos {/* left or top */
	flex: 1;
}
.doings {/* widest column, has space below for hibernating tasks */
	flex: 3;
}
.dones {
	flex: 1;
}

.task {
	/* card */
	border: 2px #ccc solid;padding: 20px;
}
.task__button {/* convert button labaels to hint popup text/tip, show icon */}


.title {/* universal style for task's title */}
.details {/* universal style for task's details */}


.todo {}
.todo__edit {/* pencil as icon */}
.todo__delete {/* recycle bin like icon */}
.todo__work {/* shovel (or something better) icon */}


.doing {}
.pomodoro {/* pure css pomodoro watch in speedometer style, pomodoro count in tally stylr */}
.doing__markDone {/* tick mark icon */}
.doing__hibernate {/* Z^z^^z kind of icon */}
.doing__cannotDo {/* paper pad (or something better) icon */}


.hibernating {/* take 100% width available, like safari's tabs */}
.hibernating__work {/* sunshine/sunrise or kick icon */}
.hibernating__giveup {/* recycle bin like icon */}
.hibernating__cannotDo {/* paper pad (or something better) icon */}


.done {}
.done__delete {/* recycle bin like icon */}
.done__archive {/* double ticks or folder like icon */}
.done__undo {/* left arow on paper pad */}


.editTodo {/* WHOA, modal box */}
.editTodo__title {}
.editTodo__insertables {}
.editTodo__details {}
.editTodo__save {}
